<a href="https://colab.research.google.com/github/kartik-5479/Mini-Project-01-/blob/main/MiniProjet(01).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basics Of Python -->**

In [45]:
# Q1. L is a list defined as L= [11, 12, 13, 14].
# (i)WAP to add 50 and 60 to L.
L=[11,12,13,14]
L.append(50)
L.append(60)
print("List -->",L)

List --> [11, 12, 13, 14, 50, 60]

In [46]:
# (ii) WAP to remove 11 and 13from L.
print("original list -->",L)
L.remove(11)
L.remove(13)
print("List after removing elements -->",L)

original list --> [11, 12, 13, 14, 50, 60]
List after removing elements --> [12, 14, 50, 60]

In [47]:
# (iii) WAP to sort L in ascending order.
L=[11, 12, 13, 14, 50, 60]
L.sort()
print("list after sorting-->",L)

list after sorting--> [11, 12, 13, 14, 50, 60]

In [48]:
# (iv) WAP to sort L in descending order.
L=[11, 12, 13, 14, 50, 60]
L.sort(reverse=True)
print("list after sorting in descending order -->",L)

list after sorting in descending order --> [60, 50, 14, 13, 12, 11]

In [49]:
# (v) WAP to search for 13 in L.
L=[11, 12, 13, 14, 50, 60]
print("Is the element present in list -->",13 in L)

Is the element present in list --> True

In [50]:
#(vi) WAP to count the number of elements present in L.
L=[11, 12, 13, 14, 50, 60]
print("number of elements in the list -->",len(L))

number of elements in the list --> 6

In [51]:
# (vii) WAP to sum all the elements in L.
L=[11, 12, 13, 14, 50, 60]
print("sum of elements in the list -->",sum(L))

sum of elements in the list --> 160

In [52]:
# (viii) WAP to sum all ODD numbers in L.
L=[11, 12, 13, 14, 50, 60]
print("sum of all odd numbers in the list -->",sum(x for x in L if x % 2 != 0))

sum of all odd numbers in the list --> 24

In [53]:
# (ix) WAP to sum all EVEN numbers in L.
L=[11, 12, 13, 14, 50, 60]
print(" sum of all even numbers in the list -->",sum(x for x in L if x % 2 == 0))

 sum of all even numbers in the list --> 136

In [54]:
# (x) WAP to sum all PRIME numbers in L.
L=[11, 12, 13, 14, 50, 60]
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in range(2, int(n**0.5)+1))

print("sum of all prime numbers in list -->",sum(x for x in L if is_prime(x)))

sum of all prime numbers in list --> 24

In [55]:
# (xi) WAP to clear all the elements in L.
L=[11, 12, 13, 14, 50, 60]
L.clear()
print("list after clearing -->",L)

list after clearing --> []

In [56]:
# (xii) WAP to delete L.
L=[11, 12, 13, 14, 50, 60]
del L

In [57]:
# Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
#(i) WAP to add new entry in D; key=8 and value is 8.8
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8] = 8.8
print("After the new element -->",D)

After the new element --> {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [58]:
# (ii) WAP to remove key=2.
D={1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
D.pop(2)
print("dictionary after removing the key -->",D)

dictionary after removing the key --> {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [59]:
# (iii) WAP to check weather 6 key is present in D.
D={1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
print("Is the key present in the dictionary -->",6 in D)

Is the key present in the dictionary --> False

In [60]:
# (iv) WAP to count the number of elements present in D.
D={1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
print("Number of keys in the dictionary -->",len(D))

Number of keys in the dictionary --> 6

In [61]:
# (v) WAP to add all the values present D.
D={1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
print("After adding all the values from Dictionary -->",sum(D.values()))

After adding all the values from Dictionary --> 45.2

In [62]:
# (vi) WAP to update the value of 3 to 7.1.
D={1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
D[3] = 7.1
print("Dictionary after updating -->",D)

Dictionary after updating --> {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [63]:
# (vii) WAP to clear the dictionary.
D={1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
D.clear()
print(D)

{}

In [64]:
# Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
#     S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].
# (i) WAP to add 55 and 66 in Set S1.
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
S1.update([55, 66])
print("set after updating -->",S1)

set after updating --> {50, 66, 20, 55, 40, 10, 60, 30}

In [65]:
# (ii) WAP to remove 10 and 30 from Set S1.
S1 = {10, 20, 30, 40, 50, 60}
S1.discard(10)
S1.discard(30)
print("set after removing elements -->",S1)

set after removing elements --> {50, 20, 40, 60}

In [67]:
# (iii) WAP to check whether 40 is present in S1.
S1 = {10, 20, 30, 40, 50, 60}
print(" Is the element present in set -->",40 in S1)

 Is the element present in set --> True

In [69]:
# (iv) WAP to find the union between S1 and S2.
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
print("Union of the sets -->",S1.union(S2))

Union of the sets --> {70, 40, 10, 80, 50, 20, 90, 60, 30}

In [70]:
# (v) WAP to find the intersection between S1 and S2.
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
print("intersection of the sets -->",S1.intersection(S2))

intersection of the sets --> {40, 50, 60}

In [74]:
# Q4. Write the following program.
# (i) WAP to print 100 random strings whose length between 6 and 8.
import random
import string
for _ in range(100):
    print(''.join(random.choices(string.ascii_letters, k=random.randint(6, 8))))

print("----------------------")

# (ii) WAP to print all prime numbers between 600 and 800.
for num in range(600, 801):
    if is_prime(num):
        print(num)

print("----------------------")

# (iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.
for i in range(100, 1001):
    if i % 7 == 0 and i % 9 == 0:
        print(i)

GFoBtD
PDxJUMKc
vSWFrkZ
CDLucO
qYllAh
AhlPAvcj
nAUTEQDe
USIGueUe
CqsHOd
TSeWCtEm
mtUpJCV
dsJbXj
yWehHqwO
TMJZoHFV
qsnEpglI
wFMJZOyN
nXowfV
lkLPdA
mPXLiFKo
hmTDtvV
NCXDyB
fJmdPJqO
vUGjifl
HxHrkDbe
FFTntA
uQvVWl
TFLaqzuM
ZqxkYHT
XYEzqcp
sSZgKKiD
iLnGFPp
SNoDKOH
dzvoZw
dAkjgyeA
MxoBkIuO
jPEUekN
cjMsAj
NmVeYAuy
rczHjG
DmSslm
EqxOEXX
yjVQYrNY
YfHMuyH
TbzfIij
qlJDOaF
XRkfWjs
VzSPGp
SlNDkJ
vWVolj
RzHEUT
QSoGwdj
TLQSKzG
ufikhYc
AUVkgX
GaNbskx
xyAgMX
jWLbehOc
uFZOJhFy
sRopcBG
WYsHDVI
OuqrNdt
fYnIVJf
YmwKQcH
cmerTIl
Htypye
TExodYHF
HfsVeXGL
QJGwnZsK
AZnFOMf
tOqfnIT
pKSSIj
HYciImo
MExsCuMc
azsBHI
JCzEeFrP
fQZpZpaf
gOZRAL
tuxATy
UCWSgN
vWeSHh
iOeeEC
tvrBVlx
iANXGOR
Lobcrwbw
HMXvtkQg
ibxIckgh
bnPQkPz
RrKEmv
JVfzmo
TqACQd
lgkcVrVx
NPorwLD
WqcSnqE
lBjDqe
FDwDeiBa
kxWUBgaF
PTkwla
EhzNgicf
ibKwRT
nBXmbxtc
----------------------
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
----------------------
126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [75]:
# Q5. WAP to create two lists of 10 random numbers between 10 and 30;
# (i) Common numbers in the two lists
A = [random.randint(10, 30) for _ in range(10)]
B = [random.randint(10, 30) for _ in range(10)]
print(set(A) & set(B))

{29, 30}

In [76]:
# (ii) Unique numbers in both the list
print(set(A) ^ set(B))

{10, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 26, 28}

In [77]:
# (iii) Minimum in both the list
print(set(A) ^ set(B))

{10, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 26, 28}

In [78]:
# (iv) Maximum in both the list
print(max(A), max(B))

30 30

In [79]:
# (v) Sum of both the lists
print(sum(A), sum(B))

160 226

In [80]:
# Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
nums = [random.randint(100, 900) for _ in range(100)]

# (i) All odd numbers
print([n for n in nums if n % 2 != 0])

# (ii) All even numbers
print([n for n in nums if n % 2 == 0])

# (iii) All prime numbers
print([n for n in nums if is_prime(n)])

[601, 393, 377, 527, 223, 563, 127, 203, 153, 331, 873, 873, 449, 235, 547, 357, 659, 391, 159, 833, 119, 607, 717, 117, 253, 223, 461, 495, 649, 503, 159, 871, 539, 285, 775, 513, 627, 491, 511, 263, 333, 469, 519, 805, 797, 563, 541, 137, 701]
[498, 200, 642, 378, 456, 104, 900, 294, 284, 764, 346, 740, 550, 180, 466, 708, 712, 136, 350, 266, 272, 338, 426, 274, 332, 530, 130, 228, 336, 432, 556, 764, 204, 104, 680, 424, 144, 526, 152, 554, 292, 584, 848, 596, 820, 558, 448, 746, 268, 630, 108]
[601, 223, 563, 127, 331, 449, 547, 659, 607, 223, 461, 503, 491, 263, 797, 563, 541, 137, 701]

In [83]:
#Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
# WAP to read all the keys and values from dictionary and write to the file in the given below format.
# Key1, Value1
# Key2, Value2
# Key3, Value3
D = {1:"One",2:"Two",3:"Three",4:"Four",5:"Five"}
with open("dict_output.txt", "w") as f:
    for k, v in D.items():
        f.write(f"{k}, {v}\n")

In [84]:
# Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
# WAP to count the length of reach element from a list and write to the file in the given below format:
# One, 3
# Two, 3
# Four, 4
L = ["One", "Two", "Three", "Four", "Five"]
with open("length_output.txt", "w") as f:
    for item in L:
        f.write(f"{item}, {len(item)}\n")

In [85]:
# Q9. Write to the file 100 random strings whose length between 10 and 15.
with open("random_strings.txt", "w") as f:
    for _ in range(100):
        s = ''.join(random.choices(string.ascii_letters, k=random.randint(10, 15)))
        f.write(s + '\n')

In [86]:
# Q10. Write to the file all prime numbers between 600 and 800
with open("prime_600_800.txt", "w") as f:
    for num in range(600, 801):
        if is_prime(num):
            f.write(str(num) + '\n')

In [87]:
# Q11. WAP to calculate the time taken by a program.
import time
start = time.time()
sum([i for i in range(1000000)])  # sample task
end = time.time()
print("Time taken:", end - start)

Time taken: 0.06033587455749512

In [88]:
# Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student
#      having maximum and minimum average marks.
students = {
    "John": [85, 90, 75, 88, 92],
    "Alice": [78, 81, 74, 80, 79],
    "Bob": [90, 88, 84, 91, 89]
}

averages = {k: sum(v)/len(v) for k, v in students.items()}
max_avg = max(averages, key=averages.get)
min_avg = min(averages, key=averages.get)

print(f"Max Avg: {max_avg} -> {averages[max_avg]}")
print(f"Min Avg: {min_avg} -> {averages[min_avg]}")

Max Avg: Bob -> 88.4
Min Avg: Alice -> 78.4